.container {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
}

.app-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #eaf0f7;
  overflow-y: hidden;
  position: relative;
}
app-toolbar {
  position: sticky;
  top: 0;
  z-index: 10; 
}
.app-sidenav {
  padding: 20px;
  border-radius: 0;
}

.app-sidenav h3 {
  color: #635BFF;
  font-weight: 700;
}

.mat-nav-list {
  margin-top: 1.5rem;
}

.mat-nav-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 1rem;
}

.mat-nav-item .item-content {
  display: flex;
  align-items: center; 
}

.item-content mat-icon {
  margin-right: 8px; 
  font-size: 20px;
  
}

.mat-nav-item.active {
  background-color: #635BFF;
}

.wrapper {
  width: 80%;
  min-height: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:720px) {
  .app-sidenav {
    width: 250px;
  }
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {

 
}
@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {}