.container {
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    height: 100%;
  }
  
  .app-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f4f7fb;
    overflow-y: hidden;
  } 
  .app-sidenav {
    padding: 20px;
    box-shadow: 3px 3px 7px 0px rgba(148,148,148,1);
    border-radius: 0;
  }
  .app-sidenav h3{
    color: #635BFF;
    font-weight: 700;
  }
  .mat-nav-list{
    margin-top: 1.5rem;
  }
  .mat-nav-item{
    margin: 0.5rem 0;
  }
  .mat-nav-item.active {
    background-color: #635BFF; 
  }
  .wrapper{
    width: 90%;
    min-height: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width:720px) {
    .app-sidenav{
      width: 250px;
    }
  }
