<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="app-sidenav" [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall">
    <h3>Risskov Tekniks</h3>
    <mat-nav-list class="mat-nav-list">
      <mat-list-item class="mat-nav-item" [routerLink]="['/']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="item-content">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </div>
      </mat-list-item>
      <mat-list-item class="mat-nav-item" [routerLink]="['/list']" routerLinkActive="active">
        <div class="item-content">
          <mat-icon>view_list</mat-icon>
          <span>List</span>
        </div>
      </mat-list-item>
      <mat-list-item class="mat-nav-item" [routerLink]="['/form']" routerLinkActive="active">
        <div class="item-content">
          <mat-icon> table_chart</mat-icon>
          <span>Forms</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSideNav)="drawer.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
