<div class="card-grid">
    <mat-card *ngFor="let card of cards" class="card" [ngStyle]="{'background': 'linear-gradient(180deg, ' + card.backgroundStart + ', ' + card.backgroundEnd + ')'}">
      <button mat-mini-fab [ngStyle]="{'background-color': card.icon_color} " class="icon-container">
        <mat-icon  class="mat-icon">{{card.icon}}</mat-icon>
      </button>
      <mat-card-content>{{card.content}}</mat-card-content>
      <mat-card-title class="card-title">{{card.title}}</mat-card-title>
      <button class="details-btn">view details</button>
    </mat-card>
  </div>