.container {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;  
  }
  
  canvas {
    width: 100% !important;  
    height: 350px !important; 
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 65%;  
    }
    canvas {
      height: 300px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 80%;  
    }
    canvas {
      height: 350px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .container {
      width: 75%;  
    }
    canvas {
      height: 400px; 
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px) {
    .container {
      width: 80%; 
    }
    canvas {
      height: 450px;  
    }
  }
  
  @media (min-width: 1441px) {
    .container {
      width: 100%;  
    }
    canvas {
      height: 500px !important;  
    }
  }
  